<section class="vh-100" style="background-color: #eee">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <form class="form" (ngSubmit)="verifyAccount()">
                    <div class="title">OTP Verification</div>
                    <p class="message">
                      We have sent a verification code to your Email you privided.
                    </p>
                    <p>Please check Spam folder or Jank Folders if you dont find email on Inbox</p>
                    <div class="inputs">
                      <input
                        id="input1"
                        type="text"
                        maxlength="1"
                        [(ngModel)]="enteredPin[0]"
                        name="input1"
                        required
                        (input)="handleInput($event, 0)"
                        (paste)="handlePaste($event, 0)"
                      />
                      <input
                        id="input2"
                        type="text"
                        maxlength="1"
                        [(ngModel)]="enteredPin[1]"
                        name="input2"
                        required
                        (input)="handleInput($event, 1)"
                        (paste)="handlePaste($event, 1)"
                      />
                      <input
                        id="input3"
                        type="text"
                        maxlength="1"
                        [(ngModel)]="enteredPin[2]"
                        name="input3"
                        required
                        (input)="handleInput($event, 2)"
                        (paste)="handlePaste($event, 2)"
                      />
                      <input
                        id="input4"
                        type="text"
                        maxlength="1"
                        [(ngModel)]="enteredPin[3]"
                        name="input4"
                        required
                        (input)="handleInput($event, 3)"
                        (paste)="handlePaste($event, 3)"
                      />
                      <input
                        id="input5"
                        type="text"
                        maxlength="1"
                        [(ngModel)]="enteredPin[4]"
                        name="input5"
                        required
                        (input)="handleInput($event, 4)"
                        (paste)="handlePaste($event, 4)"
                      />
                    </div>
  
                    <button class="action" type="submit">Verify me</button>
                  </form>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 order-1 order-lg-2 d-flex align-items-center">
                  <!-- Add Bootstrap responsive display classes -->
                  <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3U1enJobjIwd21zOG5lMXBkZGFzdWJ0cHZlM3RzYzE1azNoejdxeCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kyFl3X87SqXlxx1jaD/giphy.gif" class="img-fluid d-none d-lg-block" alt="Sample image" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  