<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="wasteRecords.length > 0">
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Quantity</th>
          <th>ID</th>
          <th>Status</th>
          <th>User Role</th>
          <th>Edit</th>
          <th>Actions</th> <!-- New column for the toggler -->
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of wasteRecords">
          <td>{{ record.type }}</td>
          <td>{{ record.quantity }}</td>
          <td>#{{ record.id }}</td>
          <td>
            <span class="badge" [ngClass]="{
                'badge-yellow': record.status === 'false', 
                'badge-green': record.status === 'true'
              }">
              {{ record.status === 'false' ? 'Unpick up' : (record.status === 'true' ? 'Picked up' : record.status) }}
            </span>
          </td>
          <td>
            <span [ngClass]="{'successful': record.userRole === 'Successful', 'pending': record.userRole === 'Pending'}">{{ record.userRole }}</span>
          </td>
          <td>
            <a href="#modalColor" data-target-color="bluegray" data-toggle="modal" class="btn btn-default toggler-button" (click)="selectRecord(record)">
              <i class="mdi mdi-pencil font-size-24 align-middle"></i>
            </a>
          </td>
          <td>
            <!-- New Toggler Button for Picked/Not Picked -->
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="mdi mdi-dots-vertical font-size-24 align-middle"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="javascript:void(0);" (click)="updateWasteStatus(record, 'true')">Picked up</a>
                <a class="dropdown-item" href="javascript:void(0);" (click)="updateWasteStatus(record, 'false')">Not Picked up</a>
              </div>
            </div>
          </td>
          <td>
            <!-- Delete Item -->
            <a href="javascript:void(0);" class="delete-item" (click)="deleteWaste(record.id)">
              <i class="mdi mdi-trash-can-outline align-middle font-size-16 text-danger"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="wasteRecords.length === 0 && !errorMessage">
    <p>No waste records found.</p>
  </div>
  