.nav-tabs .nav-link {
    cursor: pointer;
  }
  
  .d-block {
    display: block;
  }
  
  .d-none {
    display: none;
  }
  
  .nav-link.active {
    font-weight: bold;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
  }
  th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  .successful {
    color: green;
  }
  .pending {
    color: orange;
  }
  .toggler-content {
    display: none;
    position: absolute;
    bottom: 60px;
    right: 0;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

