<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/ziontimeline.appspot.com/o/enviro365_it_solutions_logo.jpeg?alt=media&token=0fc89dc3-ce37-4f1a-915d-c60c09d3111c);"></a>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li><a routerLink="/profile">Profile</a></li>
              
            </ul>
          </li>
          <li><a routerLink="/dash">Dashboard</a></li>
          
          <li><a routerLink="/waste">Create Waste</a></li>

          <li *ngIf="isWasteManagementStaff()"><a routerLink="/recycling">Create Location</a></li>

        
        </ul>
        <div class="footer">
        </div>
      </div>
    </nav>
    <div id="content" class="p-4 p-md-5">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active"><a class="nav-link">Home</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
  
