body {
  background-color: #eeeeee;
}

.h7 {
  font-size: 0.8rem;
}

.gedf-wrapper {
  margin-top: 0.97rem;
}

.balance-amount {
  margin-right: 5px;
}

.deposit-button {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 100px;
  
}


@media (min-width: 992px) {
  .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .gedf-card {
    margin-bottom: 2.77rem;
  }
  
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
  content: none;
  display: none;
}

.card {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 3px royalblue;
  box-shadow: 0 2px 3px royalblue;
}

nav {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 3px royalblue;
  box-shadow: 0 2px 3px royalblue;
  max-width: 1115px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  max-height: 60px;
}
