body{margin-top:20px;
    background:#ab0404;
    }
    /* Candidate List */
    .candidate-list {
      background: rgb(1, 235, 252);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid rgb(1, 235, 252);
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 20px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .candidate-list:hover {
        -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
                box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
        position: relative;
        z-index: 99; }
        .candidate-list:hover a.candidate-list-favourite {
          color: #e74c3c;
          -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
                  box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1); }
    
    .candidate-list .candidate-list-image {
      margin-right: 25px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 80px;
              flex: 0 0 80px;
      border: none; }
      .candidate-list .candidate-list-image img {
        width: 80px;
        height: 80px;
        -o-object-fit: cover;
           object-fit: cover; }
    
    .candidate-list-title {
      margin-bottom: 5px; }
    
    .candidate-list-details ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 0px; }
      .candidate-list-details ul li {
        margin: 5px 10px 5px 0px;
        font-size: 13px; }
    
    .candidate-list .candidate-list-favourite-time {
      margin-left: auto;
      text-align: center;
      font-size: 13px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 90px;
              flex: 0 0 90px; }
      .candidate-list .candidate-list-favourite-time span {
        display: block;
        margin: 0 auto; }
      .candidate-list .candidate-list-favourite-time .candidate-list-favourite {
        display: inline-block;
        position: relative;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border: 1px solid rgb(1, 235, 252);
        border-radius: 100%;
        text-align: center;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin-bottom: 20px;
        font-size: 16px;
        color: rgb(1, 235, 252);
        }
        .candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
          background: rgb(1, 235, 252);
          color: rgb(1, 235, 252); }
    
    .candidate-banner .candidate-list:hover {
      position: inherit;
      -webkit-box-shadow: inherit;
              box-shadow: inherit;
      z-index: inherit; }
    
    
    /* Candidate Grid */
    .candidate-list.candidate-grid {
        padding: 0px;
        display: block;
        border-bottom: none;
    }
    
    .candidate-grid .candidate-list-image {
        text-align: center;
        margin-right: 0px;
    }
    .candidate-grid .candidate-list-image img {
        height: 150px;
        width: 100%;
    }
    
    .candidate-grid .candidate-list-details {
        text-align: center;
        padding: 20px 20px 0px 20px;
        border: 1px solid rgb(1, 235, 252);
        border-top: none;
    }
    .candidate-grid .candidate-list-details ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .candidate-grid .candidate-list-details ul li {
        margin: 2px 5px;
    }
    
    .candidate-grid .candidate-list-favourite-time {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-top: 1px solid rgb(1, 235, 252);
        margin-top: 10px;
        padding: 10px 0;
    }
    .candidate-grid .candidate-list-favourite-time a {
        margin-bottom: 0;
        margin-left: auto;
    }
    .candidate-grid .candidate-list-favourite-time span {
        display: inline-block;
        margin: 0;
        -ms-flex-item-align: center;
        align-self: center;
    }
    
    .candidate-list.candidate-grid .candidate-list-favourite-time .candidate-list-favourite {
        margin-bottom: 0px;
    }
    
    .owl-carousel .candidate-list.candidate-grid {
        margin-bottom: 20px;
    }
    
    
    /* Widget */
    .widget .widget-title {
        margin-bottom: 20px;
    }
    .widget .widget-title h6 {
        margin-bottom: 0;
    }
    .widget .widget-title a {
        color: rgb(1, 235, 252);
    }
    
    .widget .widget-collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
    }
    
    /* similar-jobs-item */
    .similar-jobs-item .job-list {
        border-bottom: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    .similar-jobs-item .job-list:last-child {
        margin-bottom: 0;
    }
    .similar-jobs-item .job-list:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    /* checkbox */
    .widget .widget-content {
        margin-top: 10px;
    }
    .widget .widget-content .custom-checkbox {
        margin-bottom: 8px;
    }
    .widget .widget-content .custom-checkbox:last-child {
        margin-bottom: 0px;
    }
    
  
    .widget {
        border: 2px solid rgb(1, 235, 252);
        background-color: rgba(10, 238, 227, 0.171);
    }
    .widget.border-0 {
        border: 2px solid rgb(1, 235, 252);
        background-color: rgba(10, 238, 227, 0.171);
    }

    
    .widget ul {
        margin: 0;
    }
    .widget ul li a:hover {
        color: #21c87a;
    }
    
    .widget .company-detail-meta ul {
        display: block;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .widget .company-detail-meta ul li {
        margin-right: 15px;
        display: inline-block;
    }
    .widget .company-detail-meta ul li a {
        color: #646f79;
        font-weight: 600;
        font-size: 12px;
    }
    
    .widget .company-detail-meta .share-box li {
        margin-right: 0;
        display: inline-block;
        float: left;
    }
    
    .widget .company-detail-meta ul li.linkedin a {
        padding: 15px 20px;
        border: 2px solid rgb(1, 235, 252);
        background-color: rgba(10, 238, 227, 0.171);
        display: inline-block;
    }
    .widget .company-detail-meta ul li.linkedin a i {
        color: #06cdff;
        background-color: rgba(10, 238, 227, 0.171);
    }
    
    .widget .company-address ul li {
        margin-bottom: 10px;
    }
    .widget .company-address ul li:last-child {
        margin-bottom: 0;
    }
    .widget .company-address ul li a {
        color: #646f79;
    }
    
    .widget .widget-box {
        padding: 20px 15px;
    }
    
    .widget .similar-jobs-item .job-list.jobster-list {
        padding: 15px 10px;
        border: 0;
        margin-bottom: 10px;
    }
    
    .widget .similar-jobs-item .job-list {
        padding-bottom: 15px;
    }
    
    .widget .similar-jobs-item .job-list-logo {
        margin-left: auto;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
        flex: 0 0 60px;
        height: 60px;
        width: 60px;
    }
    
    .widget .similar-jobs-item .job-list-details {
        margin-right: 15px;
        -ms-flex-item-align: center;
        align-self: center;
    }
    .widget .similar-jobs-item .job-list-details .job-list-title h6 {
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .widget .similar-jobs-item .job-list.jobster-list .job-list-company-name {
        color: #21c87a;
    }
    
    .widget .docs-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: rgb(1, 235, 252);
        background-color: rgba(10, 238, 227, 0.171);
        padding: 30px;
        border-radius: 3px;
    }
    .widget .docs-content .docs-text {
        -ms-flex-item-align: center;
        align-self: center;
        color: #646f79;
    }
    .widget .docs-content span {
        font-weight: 600;
    }
    .widget .docs-content .docs-icon {
        margin-left: auto;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 38px;
        flex: 0 0 38px;
    }
    
    /* Job Detail */
    .widget .jobster-company-view ul li {
        border: 1px solid rgb(1, 235, 252);
        background-color: rgba(10, 238, 227, 0.171);
        margin-bottom: 20px;
    }
    .widget .jobster-company-view ul li:last-child {
        margin-bottom: 0;
    }
    .widget .jobster-company-view ul li span {
        color: rgb(1, 235, 252);
        -ms-flex-item-align: center;
        align-self: center;
        font-weight: 600;
    }
    
    .sidebar .widget {
        border: 1px solid rgb(1, 235, 252);
        margin-bottom: 30px;
    }
    .sidebar .widget .widget-title {
        border-bottom: 1px solid rgb(1, 235, 252);
        padding: 14px 20px;
    }
    
    .sidebar .widget .widget-content {
        padding: 14px 20px;
    }
    .widget .widget-content {
        margin-top: 10px;
    }



    body{
        margin-top:20px;
        background:#f7f8fa
     }
     
     .avatar-xxl {
         height: 2.5rem;
         width: 2.5rem;
         margin-right: 20px;
     }
     
     .card {
         margin-bottom: 20px;
         -webkit-box-shadow: 0 2px 3px #eaedf2;
         box-shadow: 0 2px 3px #eaedf2;
         background-color: rgba(10, 238, 227, 0.171);
         border: 2px solid rgb(1, 235, 252);
     }
     
     .pb-0 {
         padding-bottom: 0!important;
     }
     
     .font-size-16 {
         font-size: 16px!important;
     }
     .avatar-title {
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         background-color: #038edc;
         color: #fff;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         font-weight: 500;
         height: 100%;
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: center;
         width: 100%;
     }
     
     .bg-soft-primary {
         background-color: rgba(3,142,220,.15)!important;
     }
     .rounded-circle {
         border-radius: 50%!important;
     }
     
     .nav-tabs-custom .nav-item .nav-link.active {
         color: #038edc;
     }
     .nav-tabs-custom .nav-item .nav-link {
         border: none;
     }
     .nav-tabs-custom .nav-item .nav-link.active {
         color: #038edc;
     }
     
     .avatar-group {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -ms-flex-wrap: wrap;
         flex-wrap: wrap;
         padding-left: 12px;
     }
     
     .border-end {
         border-right: 1px solid #eff0f2 !important;
     }
     
     .d-inline-block {
         display: inline-block!important;
     }
     
     .badge-soft-danger {
         color: #f34e4e;
         background-color: rgba(243,78,78,.1);
     }
     
     .badge-soft-warning {
         color: #f7cc53;
         background-color: rgba(247,204,83,.1);
     }
     
     .badge-soft-success {
         color: #51d28c;
         background-color: rgba(81,210,140,.1);
     }
     
     .avatar-group .avatar-group-item {
         margin-left: -14px;
         border: 2px solid #fff;
         border-radius: 50%;
         -webkit-transition: all .2s;
         transition: all .2s;
     }
     
     .avatar-sm {
         height: 2rem;
         width: 2rem;
     }
     
     .nav-tabs-custom .nav-item {
         position: relative;
         color: #343a40;
     }
     
     .nav-tabs-custom .nav-item .nav-link.active:after {
         -webkit-transform: scale(1);
         transform: scale(1);
     }
     
     .nav-tabs-custom .nav-item .nav-link::after {
         content: "";
         background: #038edc;
         height: 2px;
         position: absolute;
         width: 100%;
         left: 0;
         bottom: -2px;
         -webkit-transition: all 250ms ease 0s;
         transition: all 250ms ease 0s;
         -webkit-transform: scale(0);
         transform: scale(0);
     }
     
     .badge-soft-secondary {
         color: #74788d;
         background-color: rgba(116,120,141,.1);
     }
     
     .badge-soft-secondary {
         color: #74788d;
     }
     
     .work-activity {
         position: relative;
         color: #74788d;
         padding-left: 5.5rem
     }
     
     .work-activity::before {
         content: "";
         position: absolute;
         height: 100%;
         top: 0;
         left: 66px;
         border-left: 1px solid rgba(3,142,220,.25)
     }
     
     .work-activity .work-item {
         position: relative;
         border-bottom: 2px dashed #eff0f2;
         margin-bottom: 14px
     }
     
     .work-activity .work-item:last-of-type {
         padding-bottom: 0;
         margin-bottom: 0;
         border: none
     }
     
     .work-activity .work-item::after,.work-activity .work-item::before {
         position: absolute;
         display: block
     }
     
     .work-activity .work-item::before {
         content: attr(data-date);
         left: -157px;
         top: -3px;
         text-align: right;
         font-weight: 500;
         color: #74788d;
         font-size: 12px;
         min-width: 120px
     }
     
     .work-activity .work-item::after {
         content: "";
         width: 10px;
         height: 10px;
         border-radius: 50%;
         left: -26px;
         top: 3px;
         background-color: #fff;
         border: 2px solid #038edc
     }
     /* Container with scrollbar */
     .scroll-container {
        max-height: 700px; 
        overflow-y: auto;
        background-color: rgba(10, 238, 227, 0.171);
        
    }

    .job-alert-bt a.btn {
        background-color: rgba(10, 238, 227, 0.171);
        border: 2px solid rgb(1, 235, 252);
    }

    .job-alert-bt a.btn {
        background-color: rgba(10, 238, 227, 0.171);
        border: 2px solid rgb(1, 235, 252);
    }


    .job-shortby select.form-control {
        background-color: rgba(10, 238, 227, 0.171);
        border: 2px solid rgb(1, 235, 252);
    }

    .search input.form-control {
        background-color: rgba(10, 238, 227, 0.171);
        border: 2px solid rgb(1, 235, 252);
        color: #000; 
        border-radius: 5px;
        padding: 8px; 
    }

    .locations input.form-control {
        background-color: rgba(10, 238, 227, 0.171);
        border: 2px solid rgb(1, 235, 252);
        color: #000; 
        border-radius: 5px; 
        padding: 8px; 
    }