<section class="vh-100" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"></p>

                <div class="form-container">
                  <p class="title">Send OTP</p>
                  <form class="form">
                    <input
                      type="text"
                      class="input"
                      placeholder="whatsappNumber"
                      [(ngModel)]="username"
                      name="whatsappNumber"
                    />
                    <div class="form-group">
                      <label>Choose the option below to receive OTP:</label>
                      <div class="radio-group">
                        <label
                          ><input
                            type="radio"
                            name="otpOption"
                            value="EMAIL"
                            [(ngModel)]="selectedChannel"
                          />
                          Email</label
                        >
                        <label
                          ><input
                            type="radio"
                            name="otpOption"
                            value="SMS"
                            [(ngModel)]="selectedChannel"
                          />
                          SMS</label
                        >
                        <label
                          ><input
                            type="radio"
                            name="otpOption"
                            value="WHATSAPP"
                            [(ngModel)]="selectedChannel"
                          />
                          WhatsApp</label
                        >
                      </div>
                    </div>
                    <button class="form-btn" (click)="sendOTP()" [disabled]="loading">
                      <ng-container *ngIf="!loading; else loader">
                        Send OTP
                      </ng-container>
                      <ng-template #loader>
                        <app-loader [loading]="loading"></app-loader>
                      </ng-template>
                    </button>
                    
                  </form>

                  <p class="sign-up-label">
                    You remember your passWord?<a routerLink="/login">login</a>
                  </p>
                </div>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="http://drive.google.com/uc?export=view&id=1IQHkkTPFD9drMj4ztjyDbJ6HybTyK4s9"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
