<section class="vh-100" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/ziontimeline.appspot.com/o/1.1.png?alt=media&token=7ac4d5e9-254f-4f09-bb1f-7f8f122432ad'); background-size: cover; background-position: center;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <!-- <div class="card text-black" style="border-radius: 25px;  display: none;"> -->
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"></p>

                <div class="form-container">
                  <a routerLink="/" class="logo-link">
                    <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3U1enJobjIwd21zOG5lMXBkZGFzdWJ0cHZlM3RzYzE1azNoejdxeCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kyFl3X87SqXlxx1jaD/giphy.gif" alt="Logo" class="logo" />
                  </a>
                  <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                  
                  <form class="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                    <input
                        type="text"
                        id="whatsappNumber"
                        name="whatsappNumber"
                        [(ngModel)]="credentials.email"
                        required
                        class="input"
                        placeholder="Enter Email"
                      />
                      <input
                      [type]="showPassword ? 'text' : 'password'"
                      type="password"
                      id="password"
                      name="password"
                      [(ngModel)]="credentials.password"
                      required
                      class="input"
                      placeholder="Enter password"
                    />
                    <div class="form-check">
                      <input
                          type="checkbox"
                          class="form-check-input"
                          id="showPassword"
                          (change)="togglePasswordVisibility()"
                      />
                      <label class="form-check-label" for="showPassword">
                          Show password
                      </label>
                  </div>
                    <p class="page-link">
                      <span class="page-link-label">
                        <a routerLink="/forgotPassword">Forgot Password?</a>
                      </span>
                    </p>
                    <button class="form-btn" type="submit" [disabled]="loading">
                      <ng-container *ngIf="!loading; else loader">
                        Log in
                      </ng-container>
                      <ng-template #loader>
                        <app-loader [loading]="loading"></app-loader>
                      </ng-template>
                    </button>
                  </form>
                  
                  <p class="sign-up-label">
                    Don't have an account?<span class="sign-up-link">
                      <a routerLink="/register">Sign up</a>
                    </span>
                  </p>
                </div>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 display: none"
              >
              <img src="https://firebasestorage.googleapis.com/v0/b/ziontimeline.appspot.com/o/enviro365_it_solutions_logo.jpeg?alt=media&token=0fc89dc3-ce37-4f1a-915d-c60c09d3111c" alt="Enviro365 IT Solutions Logo">

              </div>
            </div>
          </div>
        
      </div>
    </div>
  </div>
</section>
