<section class="vh-100" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/ziontimeline.appspot.com/o/1.png?alt=media&token=4b111758-a2a6-494b-9340-167e1ff35c4f'); background-size: cover; background-position: center;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <!-- <div class="card text-black" style="border-radius: 25px"> -->
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"></p>

                <form class="form" (ngSubmit)="registerUser()">
                  <p class="title">Register</p>
                  <p class="message">
                    Signup now and get full access to our app.
                  </p>
                  <div class="flex">
                    <label>
                      <input
                        required=""
                        placeholder=""
                        type="text"
                        class="input"
                        [(ngModel)]="registerRequest.name"
                        name="firstName"
                      />
                      <span>First Name</span>
                    </label>

                    <label>
                      <input
                        required=""
                        placeholder=""
                        type="text"
                        class="input"
                        [(ngModel)]="registerRequest.surname"
                        name="secondName"
                      />
                      <span>Second Name</span>
                    </label>
                  </div>

                  <div class="flex">
                    <label>
                      <span>Role</span>
                      <select
                        required=""
                        class="input"
                        [(ngModel)]="registerRequest.userRole"
                        name="zionType"
                      >
                        <option value="" disabled selected hidden>
                          Select Role
                        </option>
                        <option value="residents">Residents</option>
                        <option value="businesses">Businesses</option>
                        <option value="waste_management_staff">Waste management staff</option>
                      </select>
                    </label>
                    

                    <label>
                      <span>Gender</span>
                      <select
                        required=""
                        class="input"
                        [(ngModel)]="registerRequest.gender"
                        name="gender"
                      >
                        <option value="" disabled selected hidden>
                          Select Gender
                        </option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </label>
                  </div>

                  <label>
                    <input
                      required=""
                      placeholder=""
                      type="email"
                      class="input"
                      [(ngModel)]="registerRequest.email"
                      name="email"
                    />
                    <span>Email</span>
                  </label>

                  <label>
                    <input
                      required=""
                      placeholder=""
                      type="password"
                      class="input"
                      [(ngModel)]="registerRequest.password"
                      name="password"
                    />
                    <span>Password</span>
                  </label>
                  <label>
                    <input
                      required=""
                      placeholder=""
                      type="password"
                      class="input"
                      [(ngModel)]="registerRequest.confirmPassword"
                      name="confirmPassword"
                    />
                    <span>Confirm password</span>
                  </label>
                  <form class="form" (ngSubmit)="registerUser()">
                    <button class="submit" [disabled]="loading">
                      <span *ngIf="!loading">Register</span>
                      <app-loader [loading]="loading"></app-loader>
                    </button>
                  </form>
                  <p class="signin">
                    Already have an account? <a routerLink="/login">login</a>
                  </p>
                </form>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
              <img src="https://firebasestorage.googleapis.com/v0/b/ziontimeline.appspot.com/o/enviro365_it_solutions_logo.jpeg?alt=media&token=0fc89dc3-ce37-4f1a-915d-c60c09d3111c" alt="Enviro365 IT Solutions Logo">

              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>
