<div class="row">
    <div class="col-md-12 col-lg-6 mb-4">
        <div class="card h-100">
            <div class="container">
                <h2>Pick up days</h2>
                <canvas id="chart2"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 mb-4">
        <div class="card h-100">
            <div class="container">
                <h2>Gender</h2>
                <canvas id="myPieChart"></canvas>
            </div>
        </div>
    </div>
                <h2>Users</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sthembiso</td>
                            <td>Software engineer</td>
                            <td>residents</td>
                            
                        </tr>
                        <tr>
                            <td>Homza</td>
                            <td>Consultant</td>
                            <td>Business</td>
                        </tr>
                        <tr>
                            <td>Sthembiso</td>
                            <td>Designer</td>
                            <td>waste_management_staff</td>
                        </tr>
                    </tbody>
                </table>
            </div>
 
