<div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'createWaste'" (click)="selectTab('createWaste')">Create Waste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'wasteList'" (click)="selectTab('wasteList')">Waste List</a>
      </li>
    </ul>
  
    <div [ngClass]="{'d-block': activeTab === 'createWaste', 'd-none': activeTab !== 'createWaste'}">
      <form (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="type">Type</label>
            <input type="text" class="form-control is-valid" id="type" placeholder="Type" [(ngModel)]="type" name="type" required>
            <div class="valid-feedback">
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control is-valid" id="quantity" placeholder="Quantity" [(ngModel)]="quantity" name="quantity" required>
            <div class="valid-feedback">
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="userRole">Role</label>
            <input type="text" class="form-control is-valid" id="userRole" placeholder="Role" [(ngModel)]="userRole" name="userRole" required>
            <div class="valid-feedback">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="location">Location</label>
            <select class="form-control is-valid" id="location" [(ngModel)]="location" name="location" required>
              <option value="">Select Location</option>
              <option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
            </select>
            <div class="valid-feedback"></div>
          </div>
    
    
          <div class="col-md-4 mb-3">
            <label for="days">Days</label>
            <select class="form-control is-valid" id="days" [(ngModel)]="dayOfRecycling" name="days" required>
              <option value="">Select Day</option>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
            </select>
            <div class="valid-feedback">
            </div>
          </div>
        </div>
        
        <button class="btn btn-primary" type="submit" style="background-color: #109928; border-color: #109928;">
          Create
        </button>
        
      </form>
    </div>
  
    <div [ngClass]="{'d-block': activeTab === 'wasteList', 'd-none': activeTab !== 'wasteList'}">
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      
      <div *ngIf="wasteRecords.length > 0">
        <table>
          <thead>
            <tr>
              <th>Type</th>
              <th>Quantity</th>
              <th>ID</th>
              <th>Status</th>
              <th>User Role</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of wasteRecords">
              <td>{{ record.type }}</td>
              <td>{{ record.quantity }}</td>
              <td>#{{ record.id }}</td>
              <td>
                <span class="badge" [ngClass]="{
                    'badge-yellow': record.status === 'false', 
                    'badge-green': record.status === 'true'
                  }">
                  {{ record.status === 'false' ? 'Not picked' : (record.status === 'true' ? 'Picked up' : record.status) }}
                </span>
              </td>
              
              
              <td>
                <span [ngClass]="{'successful': record.userRole === 'Successful', 'pending': record.userRole === 'Pending'}">{{ record.userRole }}</span>
              </td>
              <td>
                <a href="#modalColor" data-target-color="bluegray" data-toggle="modal" class="btn btn-default toggler-button" (click)="selectRecord(record)">
                  <i class="mdi mdi-pencil font-size-24 align-middle"></i>
                </a>
              </td>
              <td>
                <!-- <button (click)="deleteWaste(record.id)">Delete</button> -->
                <a href="javascript:void(0);" class="delete-item" (click)="deleteWaste(record.id)">
                  <i class="mdi mdi-trash-can-outline align-middle font-size-16 text-danger"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="wasteRecords.length === 0 && !errorMessage">
        <p>No waste records found.</p>
      </div>
          
    </div>
  </div>







  <div class="modal fade" id="modalColor" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content custom-modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update Status</h4>
          <!-- Close button -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit1()">
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="type">Type</label>
                <input type="text" class="form-control is-valid" id="type" placeholder="Type" [(ngModel)]="type" name="type" required>
                <div class="valid-feedback"></div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="quantity">Quantity</label>
                <input type="text" class="form-control is-valid" id="quantity" placeholder="Quantity" [(ngModel)]="quantity" name="quantity" required>
                <div class="valid-feedback"></div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="userRole">Role</label>
                <input type="text" class="form-control is-valid" id="userRole" placeholder="Role" [(ngModel)]="userRole" name="userRole" required>
                <div class="valid-feedback"></div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="date">Date</label>
                <input type="text" class="form-control is-valid" id="date" placeholder="Date" [(ngModel)]="date" name="date" required>
                <div class="valid-feedback"></div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Edit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
