<section class="vh-100" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"></p>
                <div class="form-container">
                  <p class="title">Update Password</p>

                  <form class="form">
                    <input
                      type="email"
                      class="input"
                      placeholder="Email"
                    />
                    <div class="otp-box">
                      <input class="otp-input" type="text" maxlength="1" />
                      <input class="otp-input" type="text" maxlength="1" />
                      <input class="otp-input" type="text" maxlength="1" />
                      <input class="otp-input" type="text" maxlength="1" />
                      <input class="otp-input" type="text" maxlength="1" />
                    </div>
                    <input
                      type="newPassword"
                      class="input"
                      placeholder="New Password"
                    />
                    <input
                      type="confirmPassword"
                      class="input"
                      placeholder="Confirm Password"
                    />

                    <button class="form-btn">Change Password</button>
                  </form>
                </div>
                <div
                  class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
                >
                  <img
                    src="http://drive.google.com/uc?export=view&id=1IQHkkTPFD9drMj4ztjyDbJ6HybTyK4s9"
                    class="img-fluid"
                    alt="Sample image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
